
@{
    ViewData["Title"] = "_MainMenu";
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-header">CONFIGURACION</li>
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Widgets
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Product Groups
                    <i class="fas fa-angle-left right"></i>
                    <span class="badge badge-info right"></span>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/ProductGroups/Create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add New</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ProductGroups" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List All</p>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</nav>